<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	<insert id="insert" parameterType="UsersDto">
			INSERT INTO users
				(name, id, pwd, email, telephone, addr, favorite_kind,
				 favorite_area,signup_date)
			VALUES(#{name}, #{id}, #{pwd} ,#{email}, #{telephone}, #{addr}, 
				   #{favorite_kind}, #{favorite_area}, SYSDATE)
	</insert>
	
	<update id="update" parameterType="UsersDto" >
		UPDATE users
		SET name=#{name}, email=#{email}, telephone=#{telephone}, addr=#{addr}, 
				 favorite_kind=#{favorite_kind},favorite_area=#{favorite_area}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
	
	<select id="isValid" parameterType="UsersDto" 
			resultType="usersDto">
		SELECT id,pwd
		FROM users
		WHERE id=#{id} AND pwd=#{pwd}
	</select>
	
	<select id="getData" parameterType="string"
		resultType="UsersDto">
		SELECT name,id,pwd,email,telephone,addr,favorite_kind,favorite_area,signup_date
		FROM users
		WHERE id=#{id}	
	</select>
	
	<select id="isExistId" parameterType="string" 
		resultType="string">
		SELECT id 
		FROM users
		WHERE id=#{id}
	</select>
</mapper>


